.create-listing-wrapper {
  margin: auto;
  text-align: left;
  padding: 20px 50px;
}

.create-listing-wrapper h1 {
  text-align: center;
}

.create-listing-wrapper h4 {
  font-size: 18px;
}

.create-listing-form {
  width: 70vw;
  margin: auto;
  text-align: center;
}

.create-listing-section {
  padding: 15px 0;
}

.create-listing-section h2 {
  text-align: center;
  padding-bottom: 15px;
}

.checkbox-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18px;
  margin: auto;
}

.checkbox-container div {
  padding: 5px 15px;
}

.radio-container {
  display: flex;
  width: 30%;
  margin: auto;
  justify-content: center;
}

.radio-container div {
  padding: 0px 15px;
}

.textarea {
  width: 55vw;
  height: 200px;
}

textarea::placeholder {
  padding: 5px;
}
