/* PAGE WRAPPER */
.listing-wrapper {
  padding: 30px 0;
  width: 90vw;
  margin: auto;
  text-align: left;
}

/* HEADER */
.listing-header h1,
h2,
h3 {
  text-align: left;
  padding: 0;
  margin: 0;
}

.listing-header h1 {
  width: 60vw;
}

.listing-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listing-action-icons {
  display: flex;
  align-items: center;
}

.listing-action-icons div {
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.listing-basic-info {
  display: flex;
  padding: 0;
}

.listing-basic-info div {
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.listing-basic-info p {
  padding: 0 10px;
}

/* LISTING CONTENT  */
.listing-content {
  display: flex;
}

.listing-content-left {
  width: 60vw;
}

.listing-content-right {
  /* background-color: gray; */
  width: 30vw;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.listing-content-checklist {
  margin: 15px 25px 15px 10px;
}

/* SECTION */

.section-container {
  margin-bottom: 50px;
}

.section-header {
  width: 60vw;
  border-bottom: 2px dotted black;
  padding-bottom: 5px;
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 18px;
}

.section-header-left {
  border-bottom: 2px dotted black;
  margin-bottom: 15px;
  padding-bottom: 5px;
  margin-top: 20px;
  letter-spacing: 1px;
}

.section-header-left h3 {
  text-align: left;
  font-size: 24px;
}

.section-content {
  padding-top: 20px;
}

.section-content h3 {
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}

.section-info h4 {
  padding: 15px 0;
  margin: 0;
}

.description {
  margin: 10px 0;
  line-height: 1.4em;
}

/* OWNER CARD */
.owner-card {
  width: 220px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 15px;
}

.owner-card div {
  display: flex;
}

.owner-card img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.owner-card h4 {
  margin: 0;
  padding-bottom: 10px;
}

.owner-card-info {
  display: flex;
  flex-direction: column;
}

/* LISTING INFO CONTAINER */

.listing-info-container {
  /* background-color: lightgoldenrodyellow; */
  width: 60vw;
  padding: 20px 0;
}

.info-labels {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.info-labels p {
  margin: 0;
  padding-right: 15px;
}

/* ICONS */

.listing-icon {
  margin: 0 10px;
}

/* ICONS CONTAINER */
.icons-container {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin: auto;
}

.icons-container div {
  padding: 5px;
}

.sleeps-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LABELS */
.ambience-label {
  padding: 7px;
  text-align: center;
  margin: 10px 5px;
  color: white;
}

/* IMAGES */

.images-carousel {
  height: 100px;
}
