.auth-wrapper {
  width: 90vw;
  margin: auto;
}

.auth-wrapper h1 {
  text-align: center;
}

.auth__form > * {
  margin: 5px 0;
}

form.auth__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 300px;
  margin: 0 auto;
}

.auth-input {
  height: 30px;
  margin-bottom: 15px;
  background-color: antiquewhite;
}
