.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 0px;
  width: 15vw;
  border-radius: 10%;
  margin: 20px 45px;
  padding: 0px 20px 10px 20px;
}

.review img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.review span {
  font-weight: bold;
  text-decoration: none;
}

.review-text {
  line-height: normal;
}
