.how-to-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  max-width: 200px;
}

.how-to-card h3 {
  font-size: 20px;
}

.how-to-card div {
  text-align: center;
  padding: 10px 5px;
  font-size: 16px;
}

.btn-container-center {
  margin: auto;
}
