.list-of-reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 0px;
  justify-content: start;
  align-items: flex-start;
}

.reviews-page h2 {
  padding-top: 50px;
  text-align: center;
}

#given-revs {
  background-color: antiquewhite;
}
