nav {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #241e4e;
  font-weight: 600;
  color: #f2f8f4;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-name {
  color: #bddbc7;
  text-decoration: none;
  margin: 10px;
}

.authLink,
p {
  color: #f2f8f4;
  text-decoration: none;
  margin: 10px;
}

.nav-logoutbtn {
  font-size: 16px;
  background-color: #bddbc7;
  color: #241e4e;
  padding: 10px 20px;
  border: none;
}
