/* green #d4e09b
black #191414 */

nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d4e09b;
  font-weight: 600;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-logo {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
}

.navbar-logo-icon {
  margin: 5px;
}

.navbar-logo-name {
  color: #191414;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 3px;
  padding: 0 5px;
}

.navbar-links {
  height: 40px;
  padding: 10px 20px;
  /* width: 20vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-link {
  color: #191414;
  text-decoration: none;
  font-size: 1.1em;
  margin: 10px;
}
