.btn {
  min-width: 70px;
  padding: 7px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
}

.bigger {
  border-radius: 20px;
  min-width: 100px;
  padding: 15px;
  font: 30px;
  font-weight: bolder;
}

.auth-btn {
  border: none;
  text-align: center;
  outline: none;
  padding: 10px;
  font-size: 1em;
  color: white;
  border-radius: 15px;
  min-width: 100px;
  margin: 1em auto;
  align-self: center;
}

.orange {
  background-color: orange;
}

.red {
  background-color: salmon;
}

.tan {
  background-color: tan;
}

.darkcyan {
  background-color: darkcyan;
}

.sandybrown {
  background-color: sandybrown;
}

.darkkhaki {
  background-color: darkkhaki;
}

.coral {
  background-color: coral;
}
