.result-card {
<<<<<<< HEAD
  width: 240px;
  height: 300px;
  border: 2px dotted black;
=======
  max-width: 250px;
>>>>>>> ff9818d5425ef8074aee59b083e36d8a89f5b8e0
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px 30px;
  padding: 20px;
  line-height: 5px;
  border: solid antiquewhite 3px;
  border-radius: 10%;
}

.result-card img {
  max-width: 200px;
  border-radius: 10%;
}

<<<<<<< HEAD
.result-card button {
}

.result-card-image {
  height: 150px;
}

.result-card-content {
  height: 50px;
  text-align: center;
  line-height: 1.2;
}

.center {
  display: grid;
  place-items: center;
=======
.result-card-btn {
  margin: 15px;
>>>>>>> ff9818d5425ef8074aee59b083e36d8a89f5b8e0
}
