.result-card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 50px;
  padding: 10px;
  line-height: 5px;
}

.result-card img {
  max-width: 200px;
  border-radius: 10%;
}

.result-card button {
  margin: 15px;
}
